; For the time being, only allow sections in the configuration files work; 
; In the allow section, the items should be names instead of regexes;
name /muas/gs1/NDNSF/ServiceAuthorizationPolicy/v1 ; policy name
service-policies
{
    service-policy
    {
        for /muas/gs1/ObjectDetection/YOLOv8 ; service full name
        allow ; allowed user prefixes
        {
            /muas/drone1
        }
        deny ; denied user prefixes
        {
            /muas/drone2
        }
    }
    service-policy 
    {
        for /muas/gs1/ObjectDetection/YOLOv8_S ; service full name
        allow ; allowed user prefixes
        {
            /muas/drone1
        }
        deny ; denied user prefixes
        {
            /muas/drone2
        }
    }
}


